.project-preview {
	margin: 3px 0;
	border-radius: 3px;

	box-shadow: 2px 3px 10px -2px rgba(0,0,0,.5);

	cursor: pointer;

	&__name {
		width: 150px;
		margin: 0;

		font-size: 18px;
	}

	.status-icon {
		width: 30px;
	}
}
